.Title {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #000;
  margin: 0 auto;
}

.Title>p {
  font-weight: bold;
  color: #000;
}
@media screen and (max-width: 540px) {
  .Title {
    width: 75%;
  }
}