@mixin mobile {
    @media (max-width: 540px) {
        @content;
    }
}

input {
    width: 280px;
    height: 30px;
    padding: 7px;
    border: 0;
    border-radius: 5px 0 0 5px;

    @include mobile {
        width: 60%;
    }
}

.InputBTN {
    padding: 14px;
    color: white;
    transition: .5s;
    cursor: pointer;
    background: #333;
    border: 1px solid #333;
    border-radius: 0px 5px 5px 0;

    @include mobile {
        width: 15%;
    }

    &:hover {
        opacity: .75;
    }
}


.InputBox {
    background-image: url("https://raw.githubusercontent.com/light9639/TodoList/master/public/background.jpg");
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;

    @include mobile {
        padding: 25px 0;
    }
}